/* Navbars.css */

/* Customize the background color of the navbar */
.nav {
    background-color: #f109f1e3;
}

/* Customize the color of the navbar brand */
.navbar-brand {
    color: #212529;
    font-weight: bold;
}

/* Customize the color of the navbar links */
.nav-link {
    color: #212529;
}

/* Customize the color of the search input */
.form-control {
    background-color: #f8f9fa;
    color: #212529;
}

/* Customize the color of the search button */
.btn-outline-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

/* Customize the color of the login and register links */
.nav .nav-link {
    color: #198754;
}

/* Add additional styles as needed */